.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    text-align: center;
  background-color: #222;
  height: 50px;
  padding: 1px;
  color: white;
}

.App-intro {
  font-size: large;
}